.container {
    margin-bottom: 24px;

    .temp {
        display: flex;

        :global(.MuiTypography-root) {
            font-size: 96px;
        }

        .circle {
            margin-top: 10px;
            height: 19px;
            width: 19px;
            border: #0e1645 3px solid;
            border-radius: 50%;
        }
    }

    .location,
    .condition {
        margin-bottom: 16px;
    }
}
