@import "/styles/mixins/breakpoints.module.scss";

.App {
    background-color: gray;
    height: 100vh;

    @include breakpoints(tablet) {
        background-color: rgb(227, 255, 71);
    }

    @include breakpoints(desktop) {
        background-color: tomato;
    }
}
